<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/navigation.ejs') %>
	<main>
		<ul class="cart-list">
			<% products.forEach(product => { %>
				<li class="centered cart-list__item">
					<p class="cart-list__item--title">
						<%= product.productId.title %> (<%= product.quantity %>)
					</p>
					<p class="cart-list__item--price">
						<%= product.productId.price %> $
					</p>
				</li>
			<% }) %>
		</ul>
		<div>
			<h2 class="centered cart-total">Total: <%= totalSum %>$</h2>
		</div>
		<div class="centered">
			<form action="/create-order" method="POST">
				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<script
				src="https://checkout.stripe.com/checkout.js"
				class="stripe-button"
				data-key="pk_test_IarxjsZXpcUuko2ykQwu0cvz00PcbThuAR"
				data-name="Your order"
				data-description="All the products you ordered"
				data-amount="<%= totalSum * 100 %>"
				data-currency="usd">
				</script>
			</form>
		</div>
	</main>

<%- include('../includes/footer.ejs') %>
