<%- include('../includes/head.ejs') %>
	<link rel="stylesheet" href="/css/form.css">
</head>
<body>
	<%- include('../includes/navigation.ejs') %>

	<main>
		<form class="main-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
			<h1 class="main-form-title"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></h1>

			<div class="main-form-control">
				<label class="main-form__label" for="title">Title</label>
				<input class="main-form__input" type="text" name="title" value="<% if (editing) { %><%= item.title %><% } %>">
			</div>
			<div class="main-form-control">
				<label class="main-form__label" for="imageUrl">Image URL</label>
				<input class="main-form__input" type="text" name="imageUrl" value="<% if (editing) { %><%= item.imageUrl %><% } %>">
			</div>
			<div class="main-form-control">
				<label class="main-form__label" for="description">Description</label>
				<textarea class="main-form__input" type="text" name="description" rows="5"><% if (editing) { %><%= item.description %><% } %></textarea>
			</div>
			<div class="main-form-control">
				<label class="main-form__label" for="price">Price</label>
				<input class="main-form__input" type="number" name="price" step="0.01" value="<% if (editing) { %><%= item.price %><% } %>">
			</div>
			<% if (editing) { %>
				<input type="hidden" value="<%= item._id %>" name="productId">
			<% } %>

			<button class="main-form__button" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
		</form>
	</main>
<%- include('../includes/footer.ejs') %>
